.readmore{
    background-color: red;
    color:black;
}


.readmore:hover{
    background-color: aqua;

}
.isnt{
    width: 80%;
}

.indian{
    color: black;

}
.indian:hover{
    color: rgba(6, 6, 85, 0.863);

}
.society{
    justify-content:'center';
    align-items: left;
    display: flex;
    flex-direction: column;
}